<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="SuperSklep5">
		<meta name="author" content="Piotr Zakrzewski">
		<title>
			{% block title %}SuperSklep5
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- Custom styles for this template -->
			<link href="{{ asset('assets/css/shop-homepage.css')}}" rel="stylesheet">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
			<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('assets/css/dropzone.min.css') }}">
		{% endblock %}

	</head>
	<body>
		{% include 'inc/nav.html.twig' %}
		{% include 'inc/flash_messeges.html.twig' %}
		<div class="container"> {% block body %}{% endblock %}
			</div>

			{% include 'inc/footer.html.twig' %}
			{% include 'inc/modal.html.twig' %}
			{% include 'inc/cookies.html.twig' %}

			{% block javascripts %}
				<!-- Bootstrap core JavaScript -->
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
				<script src="https://cdn.tiny.cloud/1/qoj0g1gtwwrui5rjqcrzv73ze1u3wy1l4rsrwojnyo4p9vfq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
				<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
				<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
				<script src="{{ asset('assets/js/datatables-demo.js')}}"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
				<script src="{{ asset('assets//js/dropzone.min.js') }}"></script>
				<script>
					tinymce.init({
selector: 'textarea',
plugins: "",
language: "pl",
imagetools_cors_hosts: ['picsum.photos'],
menubar: 'file edit view insert format tools table help',
toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
toolbar_sticky: true,
height: 600
});
				</script>
				<script>
					$('#dataTable').DataTable({
"language": {
"sEmptyTable": "Brak danych w tabeli",
"sInfo": "Pokazuję _START_ do _END_ z _TOTAL_ wpisów",
"sInfoEmpty": "Pokazuję 0 do 0 z 0 wpisów",
"sInfoFiltered": "(Przefiltrowano z _MAX_ całkowitych wpisów)",
"sInfoPostFix": "",
"sInfoThousands": ",",
"sLengthMenu": "Pokaż _MENU_ wpisów",
"sLoadingRecords": "Ładuje...",
"sProcessing": "Przetwarzam...",
"sSearch": "Szukaj:",
"sZeroRecords": "Nie znaleziono pasującego wyniku",
"oPaginate": {
"sFirst": "Pierwszy",
"sLast": "Ostatni",
"sNext": "Następny",
"sPrevious": "Poprzedni"
},
"oAria": {
"sSortAscending": ": activate to sort column ascending",
"sSortDescending": ": activate to sort column descending"
}
}
});
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})
				</script>


				<script>
					$('#myModal').on('shown.bs.modal', function () {
$('#myInput').trigger('focus')
})
				</script>
			{% endblock %}
		</body>
	</html>
