<div class="col-lg-3">
	<br>
	Panel Admina
	<div class="list-group">
		<a href="#" class="list-group-item">Kategorie</a>
		<a href="#" class="list-group-item">Przedmioty</a>
		<a href="#" class="list-group-item">Tranzakcje</a>
	</div>
	<br>
	Panel SuperAdmina
	<div class="list-group">
		<a href="{{ path('users_manage') }}" class="list-group-item">Użytkownicy</a>
	</div>
	<br>
</div>
<!-- /.col-lg-3 -->
